* {
  box-sizing: border-box;
}
/* :root {
  } */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-align: center;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.main-content {
  width: 1050px;
  max-width: calc(100vw - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  padding: 20px 50px;
  background: #2b2b2b;
}
.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .body a {
  display: flex;
  align-items: center;
}
.header .body .logo-brand {
  margin-left: 12px;
  color: #f5f5f5;
}
/* header right */
.header .header-right {
  display: flex;
  align-items: center;
}
.header .navbar .navbar-list {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.header .navbar .navbar-item {
  padding: 0 20px;
}
.header .navbar-item a {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.24;
}

.header .header-right .action {
  width: 152px;
  background: #a259ff;
  border-radius: 20px;
}
.header .action a {
  gap: 12px;
  padding: 19px 30px;
  border-radius: 20px;
}
.header .action p {
  text-align: center;
  font-family: Work Sans;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}
/* hero */
.hero {
  width: 100vw;
}
.hero .images img {
  width: 100%;
  object-fit: cover;
  height: 320px;
  align-self: stretch;
}
.hero .profile-img {
  background: #2b2b2b;
  margin-top: -70px;
  display: flex;
  align-items: flex-start;
}
/*Artist Info  */
.artist-select {
  background: #2b2b2b;
  padding: 40px 0;
}
.artist-select .main-content {
  height: 377px;
  color: #fff;
}
.artist-select .artist-info {
  width: 57%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.artist-info .heading {
  color: var(--White, #fff);

  /* H2 - Work Sans */
  font-family: Work Sans;
  font-size: 5.1rem;
  font-weight: 600;
  line-height: 110%; /* 56.1px */
  text-transform: capitalize;
}
.artist-info .total-list {
  display: flex;
  width: 510px;
  align-items: flex-start;
  gap: 20px;
}
.artist-info .total-list .total-item {
  width: 33.33%;
  align-self: stretch;
}
.artist-select .total-item strong {
  color: var(--White, #fff);

  /* H4 - Space Mono */
  font-family: Space Mono;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 140%; /* 39.2px */
  text-transform: capitalize;
}
.artist-select .total-item .desc-total {
  color: var(--White, #fff);

  /* Body Text- Work Sans */
  font-family: Work Sans;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
/* bio */
.artist-select .bio {
  align-self: stretch;
}
.artist-select .bio .title-bio {
  /* H5 - Space Mono */
  font-family: Space Mono;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
  color: #858584;
}
.artist-select .bio .desc-bio {
  color: var(--White, #fff);

  margin-top: 10px;
  /* Body Text- Work Sans */
  font-family: Work Sans;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
/* Links */
.artist-select .links .title-link {
  color: #858584;

  /* H5 - Space Mono */
  font-family: Space Mono;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
.artist-select .links .link-icon {
  display: flex;
  margin-top: 10px;
  gap: 0 10px;
  width: 32px;
  height: 32px;
}
/* .artist-select .links .link-icon img {
  width: 100%;
  object-fit: cover;
} */

/*Artist Info  */
/* Tab bar */
.tab-bar {
  background: #2b2b2b;
  height: 70px;
  border-top: 1px solid #3b3b3b;
}
.tab-bar .tab-bar-list {
  margin-top: 10px;
  display: flex;
  height: 60px;
}
.tab-bar .tab-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 14px 30px;
}
.tab-bar .tab-bar-item.active {
  border-bottom: 2px solid var(--caption-label-text, #858584);
}
.tab-bar .tab-bar-item .bar-title {
  color: var(--White, #fff);

  /* H5 - Work Sans */
  font-family: Work Sans;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}
.tab-bar .tab-bar-item .bar-number {
  margin-left: 16px;
}
/* Tab bar */
